.button {
  text-decoration: none;
  color: black;
  font-size: $font-size-small;
  padding: $base-spacing-unit $double-spacing-unit;
  border: none;
  margin: 2px 2px;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}
